<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Product</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Create Product</h1>
    <form th:action="@{/products}" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:value="${product.name}">
        </div>
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" th:value="${product.description}">
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" th:value="${product.price}">
        </div>
        <div>
            <label for="quantity">Quantity:</label>
            <input type="text" id="quantity" name="quantity" th:value="${product.quantity}">
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>
